body{
    display: flex;
    flex-direction: column;
}

.wrapper{
    margin-top: 10%;
    margin-bottom: 10%; 
}

main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: auto;
    flex-wrap:wrap;
}

.formulaire{
    display: flex;
    flex-direction: column;
	width:50%; 
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.btitre{
    display:flex;
    flex-direction: column;
    padding-left: 5%;
    width:auto;
	background: #C0392B;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 15px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #C0392B ;
}

.formulaire h1 > span{
    display:flex;
    flex-direction: column;
	font: 13px Arial, Helvetica, sans-serif;
}

.form-back{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    width:auto;
    border-radius: 6px;
    background: #F8F8F8;
}

label{
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
}

.label-position{
    display:flex;
    flex-direction: column;
	margin-bottom: 1%;
    padding-top: 5%;    
}

.ligne{
    display:flex;
    flex-direction: row; 
    font: 13px Arial, Helvetica, sans-serif;
}

.input-position{
    margin-top:2%;
}

#introduction{
    height:150px;
}

#datemax{
    display: flex;
    align-items: flex-start;
}

.formulaire input[type="date"]{
    font: 13px Arial, Helvetica, sans-serif;
    color:grey;
    outline:none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	padding: 2%;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire input[type="password"],
.formulaire input[type="month"],
.formulaire textarea,
.formulaire select {
    font: 13px Arial, Helvetica, sans-serif;
    color:grey;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 2%;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    outline:none;
}

.formulaire .section{
    display:flex;
    flex-direction: column;
	font: bold 20px 'Bitter', serif;
	color: #C0392B;
	margin-bottom: 1%;
    margin-left: 5%;
    padding-top: 5%;
    flex-wrap:wrap;
}

.formulaire .section span {
    display:flex;
    flex-direction: column;
	background:#C0392B ;
	padding: 0.30% 0.60% 0.30% 0.60% ;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -3.6%;
	margin-top: -0.5%;
    color: #fff;
}

.formulaire .form-back span,
.formulaire p span {
    color:red;
}

p{
    font: 13px Arial, Helvetica, sans-serif;
    font-size:10px;
}

.button-section{
    display: flex;
    flex-direction: column;
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    flex-wrap:wrap;
}

#valider{
    width:15%;
    display:flex;
    flex-direction: column;
	background: #C0392B;
	padding: 2%;
    margin-top: 2%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #C0392B ;
	font-size: 15px;
    flex-wrap:wrap;
}

#valider:hover{
	background: #943126 ;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.formulaire .privacy-policy{
    display:flex;
    flex-direction: row;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
}

.password{
    display:flex;
    flex-direction: row;
	justify-content: space-between;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
}

.formulaire a{
    text-decoration: none;
    color: #3498DB ;
}

.formulaire a:hover{
    text-decoration: underline;
    color: #3498DB ;
}

.formulaire a span {
    color:red;
}
